<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>虎年金蛋</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/addons/hc_wish/template/mobile/js/flexible.min.js"></script>
    <link rel="stylesheet" href="/addons/hc_wish/template/mobile/css/personal.css" />
    <style>
        body {
            overflow: visible;
            margin-bottom: 1.15rem;
        }

        img {
            width: 100%;
            display: block;
        }
    </style>

<body>
    {if $gift_img}
    {foreach $gift_img as $v}
    <img src="{$v}" alt="" />
    {/foreach}
    {/if}
    <img src="http://wq.suyituike.cn/addons/hc_wish/template/mobile/image/gifta.jpg" alt="" />
    <div class="buttonm">
        <a href="{:url('index/shouye')}" class="vua">
            <img src="/addons/hc_wish/template/mobile/image/index_icon.png" alt="" />
            <p>首页</p>
        </a>
        <a href="{:url('index/gift')}" class="vua">
            <img src="/addons/hc_wish/template/mobile/image/gift_icon.png" alt="" />
            <p>礼品</p>
        </a>
        <a href="{:url('index/my')}" class="vua">
            <img src="/addons/hc_wish/template/mobile/image/my_icon.png" alt="" />
            <p>我的</p>
        </a>
    </div>
    
</body>

</html>