<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>幸运金蛋</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/addons/hc_wish/template/mobile/js/flexible.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <script type="text/javascript" src="/addons/hc_wish/template/mobile/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/addons/hc_wish/template/mobile/css/css.css" />
    <link rel="stylesheet" href="/addons/hc_wish/template/mobile/css/enter.css" />
    <style>
        #video1 {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
        }
    </style>

<body>
    <div class="enter">
        <img class="saca" src="{:config('site.guide_img')}" alt="" />
    </div>
    <a href="{:url('index/shouye')}" class="saca_img">
        <img src="/addons/hc_wish/template/mobile/image/short.png" alt="" />
    </a>
    
</body>

</html>